<HEAD>
    <TITLE> James Bollas's Website!</TITLE>
    <STYLE type="text/css">
        .right{
            float:right
        }
    </STYLE>
</HEAD>
<BODY>
<span class="right">
    <% if(user.name){ %>
    Currently Logged in as: <%= user.name %>
    <% } %>
    <br>
    <a href="/loginpage"> Login </a>
    <br>
    <a href="/logout"> Logout </a>
</span>

<form method="post" action="/testup" class="inline">
    <input type="text" id="st" name="st">
    <button>Send text</button>
</form>

<form enctype="multipart/form-data" method="post" action="/fileup" class="inline">
    <input type="file" id="file" name="file">
    <button>Send file</button>
</form>

<a href="/private"> private_data </a>

<ul>
    <% tests.forEach((test) => { %>
        <li>
            <% if(test.link){ %>
                <a href=<%= test.link %>><%= test.value %></a>
            <% } else { %>
                <%= test.value %>
            <% } %>
            <% if(String(user_db._id) == String(test.uploader)){ %>
                <a href="/delete/<%= String(test._id)%>"> Delete Entry</a>
            <% } %>
        </li>
    <% }); %>
</ul>

</BODY>